@model BibR.Models.User




<div class="align-content-center">
    <div class="glass-login container">
        <h1 class="login-title">Login</h1>
        <form asp-action="Login" class="formulario-login">
            <div class="form-group">
                <label class="control-label input-neon">E-mail</label>
                <input type="email" asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label input-neon">Senha</label>
                <input type="password" asp-for="password" class="form-control" />
                <i class="fa-solid fa-eye mostrar"></i>
                <i class="fa-solid fa-eye-slash ocultar"></i>
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Enviar" class="btn btn-login col-12" />
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input remember" asp-for="remember" /> Lembrar de Mim
                </label>
            </div>
        </form>
        <div class="linkCadastro align-bottom align-text-bottom"> 
            <a asp-area="" asp-controller="Usuario" asp-action="Cadastro">Ainda não se cadastrou?</a>
        </div>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>
