@{
    ViewData["Title"] = "Início";
}

<section id="home">
    <form class="pesquisa align-content-center align-items-center justify-content-center">
        <input type="search" class="search-bar" aria-label="Pesquisar" />
        <button type="submit" class="btn-src">Pesquisar</button>
    </form>
    <div class="home">
        <h1 class="name">Missão<br />Astro</h1>
        <p class="linha efeito-digitacao">Em 3034, explore o universo.</p>
        <button class="btn-download"><strong>Download</strong></button>
        <div>
           <i class="fa-solid fa-rocket-launch"></i>
        </div>
    </div>
</section>

<section id="news">
    <h2 class="titles news">Novidades</h2>
</section>

<section id="aboutUs">
    <h2 class="titles aboutUs">Sobre Nós</h2>
</section>

  <!-- AniJS core library -->
  <script src="https://anijs.github.io/lib/anijs/anijs-min.js"></script> 
  
  <!-- Include to use $addClass, $toggleClass or $removeClass -->
  <script src="https://anijs.github.io/lib/anijs/helpers/dom/anijs-helper-dom-min.js"></script>
